<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;

  }
  .display2{
    font-size: 24px;
  }
  .display1{
    font-size: 60px;
    color: #FF6F00!important;
  }
  .lead2{
    color: #004000!important;
  }
  .home{
   background:#E65100!important;
    color:white!important;
}
</style>

<body>
  {% include "exam/navbar.html" %}

<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center" style="background-color:#FFF8E1!important;">
    <h2 class="display1"><b>Online Examination System</b></h2>
    <p class="display2 d-none d-sm-block">Attend your examinations online!</p>
    <p class="lead2">Sign Up now to start your first online examination</p>

  
    <p><strong> Start Your Journey Here:</strong></p>
    <a href="/student/studentsignup" class="btn btn-lg rounded text-white" style="padding-right: 35px; border-radius: 0%; background:linear-gradient(45deg,#F57C00,#E65100);"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Sign Up as Student</a>
    
    <br><br><br>
  </div>  
</section>


  {% include "exam/footer.html" %}


</body>

</html>
