<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>

        form{
           margin: 50px; 
          
        }

    </style>
  </head>
  <body>
    {% include "exam/navbar.html" %}
 


<br><br><br>
<div class="container">
  <h3 style="text-align: center;">Teacher Signup Form</h3>
<form method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="first_name">First Name</label>
          {% render_field userForm.first_name|attr:'required:true'  class="form-control"  placeholder="First Name" %}
        </div>
        <div class="form-group col-md-6">
          <label for="last_name">Last Name</label>
          {% render_field userForm.last_name|attr:'required:true'  class="form-control" placeholder="Last Name" %}
        </div>
      </div>

      <div class="form-row">
<div class="form-group col-md-6">
  <label for="mobile">Contact</label>
  <input type="text" id="mobile" name="mobile" class="form-control" placeholder="Contact Number" required>
  <div id="mobileError" style="color: red; display: none;">Please enter a 10-digit number</div>
</div>

<script>
  document.getElementById("mobile").addEventListener("input", function() {
    var mobileInput = this.value.replace(/\D/g, ''); // Remove non-digit characters
    if (mobileInput.length !== 10) {
      document.getElementById("mobileError").style.display = "block";
    } else {
      document.getElementById("mobileError").style.display = "none";
    }
  });
</script>

        <div class="form-group col-md-6">
          <label for="address">Address</label>
          {% render_field teacherForm.address|attr:'required:true'  class="form-control" placeholder="Address" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="username">Username</label>
          {% render_field userForm.username|attr:'required:true'  class="form-control" placeholder="username" %}
        </div>
   <div class="form-group col-md-6">
    <label for="inputPassword4">Password</label>
    <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password" required minlength="10">
    <!-- Add the pattern=".{10,}" attribute to enforce minimum 10 characters -->
</div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="profile_pic">Profile Picture</label>
          {% render_field teacherForm.profile_pic|attr:'required:true' class="form-control" placeholder="" %}
        </div>
        
      </div>


    <button type="submit" class="btn btn-success" style="border-radius:0px;">Sign Up</button>
  </form>
</div>


<br><br>
{% include "exam/footer.html" %}
  </body>
</html>
